<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--SupportedModifiers-->
    <add key="None" value="0" />
    <add key="Alt" value="1" />
    <add key="Control" value="2" />
    <add key="Shift" value="4" />
    <add key="WinKey" value="8" />
    <!--AppKeyModifier-->
    <add key="Modifier" value="8" />
    <!--AppKeysUsed-->
    <add key="KeyVolumeUp" value="F6" />
    <add key="KeyVolumeDown" value="F5" />
    <add key="KeyVolumeMute" value="F7" />
    <add key="KeyBrightnessUp" value="F9" />
    <add key="KeyBrightnessDown" value="F8" />
    <add key="KeyNetworkDown" value="F10" />
    <add key="KeyNetworkUp" value="F11" />
    <add key="KeyExit" value="End" />
    <!--AppVolumeChangeValue & AppBrightnessIntervals-->
    <add key="VolumeChangeValue" value="5" />
    <add key="BrightnessChangeValue" value="5"/>
  </appSettings>
</configuration>